* {
    margin: auto;
    padding: auto;
    background-color: white;
}

h1, p{
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.section-one {
    color: green;
    font-size: 14px;
}

.section-two {
    color: red;
    font-size: 14px;
}

.section-three {
    color: blue;
    font-size: 14px;
}

.one {
    margin: 10px;
    padding: 2px;
    border: 4px solid coral;
}

.two {
    margin: 10px;
    padding: 2px;
    border: 4px solid greenyellow;
}

.three {
    margin: 10px;
    padding: 2px;
    border: 4px solid coral;
}